nav,footer,header,aside{display: block;}
html {
    scroll-behavior: smooth; 
    overflow-anchor: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 1440px; */
    margin: auto;
}
.header {
    /* flex-basis: 40px; */
}
.container-header-nav   {
    max-width: auto;
    /* margin: -3em; */
}
.container-header-nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-left: 2%; */
    margin-right: 2%;
    margin-bottom: 1%;
    /* height: 20px; */
}
.body-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    /* padding: 0 40px; */
}
.body-conteiner-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(to top, #fefcea,40%, #7B68EE);
}
.bode-name, h2 {
    font-size: 3em;
    margin:auto;
    /* padding-left: 20%; */
    padding-bottom: 42px;
}
.bode-name {
    font-size: 5em;
}
/* .header-text-h2 {
    font-size: 2.5em;
    margin-bottom: 9.8%;
} */
.side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items:center; */
    align-content:space-between
}
/* .side-contact {
    margin: 1%;
} */
aside, header, footer {
    background: linear-gradient(to top, #fefcea,40%, #7B68EE);
}
body {
    background: linear-gradient(to top, #fefcea,20%, #7B68EE);
    /* padding: 40px; */
    margin: 0;
    background: linear-gradient(to top, #fefcea,60%, #7B68EE);
}
h3 {
    font-size: 2.5em;
    margin: auto;  
    background: linear-gradient(to top, #f1da36, 60%, #7B68EE);
    padding-left: 5%;
    border: 1px solid;
    border-radius: 10px;
}
h4 {
    font-size: 1.5em;
    margin: 5%;
}
h5 {
    font-size: 2.8em;
    margin: 5%; 
}
li {
    font-size: 2.5em;
    margin: 5%;  
    margin-left: 0%;
    list-style-type: none
}
p {
    text-align: justify;
    font-size: 2em;
}
.body-am {
    padding: 2%;
}
.code {
    font-size: 2em;
    margin: 5%;  
}
.fotter-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: auto; */
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 33%;
}
.footer-div-rs {
    width: 10%;
}
.footer-div-year{
    margin-right: 0%;
}
.footer-div-git img{
    width: 3.5em;
    padding-right: 0%;
}
footer {
    background: linear-gradient(to top, #7B68EE,40%, #fefcea);
}
.container-header-nav-ul-li {
margin-left: 2%;
margin-right: 2%;
width: auto;
margin-top: 10px;
margin-bottom: 10px;
/* height: 20px; */
}
.container-header-nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    flex-wrap: wrap;
}
.photo {
padding-bottom: 5%;
/* margin-bottom: 10%; */
padding: 10px;
}
a {
    text-decoration: none;
    font-size: 0,5em;
    margin: 0em;
    color: black;
}
a:active {
    background-color: #f1da36;
    text-decoration: none;
    color:black;
}
a:hover {
    color:black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
/* .side-contact-project {
    margin-left: -55%;
} */
/* ul {
    color: #FF4500;
} */
.header-text-h2 {
    font-size: 2.5em;
    margin-bottom: 4.8%;
    padding-left: 0;
}
.strengths {
    display: flex;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
}
.skills {
    display: flex;
    position: relative;
    align-items: center; 
    flex-wrap: wrap;
}
.li-block {
    display: flex;
    min-width: 250px;
    min-height: 150px;
    background: linear-gradient(to top, #7B68EE, 60%, #f1da36);
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    padding-bottom: 0;
    line-height: center;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 100px;
    box-shadow: 2px 2px #7b68ee, 1.2em 0 4em #f1da36;
}